.page-content .content-title {
  background: url(../../images/icon_title1.png) no-repeat left top 0.4rem;
  background-size: 1.3rem 1.3rem;
  padding-left: 2rem;
  font-size: var(--font-size-xlarge);
  margin-bottom: 1.5rem;
  color: #000;
}

.page-content .intro-table {
  min-width: 100%;
  text-align: center;
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  border-left: 1px solid var(--gray-neutral5);
  border-right: 1px solid var(--gray-neutral5);
}

.page-content .timothy-intro-wrap .intro-table {
  margin-top: 3rem;
}

.page-content .intro-table tr + tr {
  border-top: 1px solid var(--gray-neutral5);
}

.page-content .intro-table td {
  position: relative;
  padding: 1rem;
  color: var(--gray-dark1);
  box-sizing: border-box;
  vertical-align: middle;
}

.page-content .intro-table td:not(:last-child) {
  border-right: 1px solid var(--gray-neutral5);
}

/* IN0101 기관소개 - 다모데성경연구원 */
.page-content .timothy-intro-wrap {
  font-size: var(--font-size-basic);
  color: var(--gray-dark2);
  line-height: 2.4rem;
}

.page-content .timothy-intro-wrap > div + div {
  margin-top: 4rem;
}

.page-content .timothy-intro-wrap .content-title strong {
  font-family: 'arial black', sans-serif;
  letter-spacing: -0.08rem;
}

.page-content .timothy-intro-wrap .found .txt-box {
  display: flex;
  justify-content: space-between;
}

.page-content .timothy-intro-wrap .found .txt-box .content-title {
  background: url(../../images/icon_title1.png) no-repeat left top 0.8rem;
  background-size: 1.3rem 1.3rem;
}

.page-content .timothy-intro-wrap .found .img {
  width: 34%;
  height: fit-content;
  flex-shrink: 0;
  margin-left: 3rem;
}

.page-content .timothy-intro-wrap .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-top: 3.5rem;
}
   
.page-content .timothy-intro-wrap .video-container iframe,
.page-content .timothy-intro-wrap .video-container object,
.page-content .timothy-intro-wrap .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-content .timothy-intro-wrap .bekenntnis {
  margin-top: 6rem;
}

.page-content .timothy-intro-wrap .vision {
  margin-top: 6rem;
}
  
.page-content .timothy-intro-wrap .vision-list {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.page-content .timothy-intro-wrap .vision-list li {
  width: calc((100% - 3rem) / 3);
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid var(--gray-neutral3);
  text-align: center;
}

.page-content .timothy-intro-wrap .vision-list li .icon {
  width: 10rem;
  margin-bottom: 1.5rem;
}

.page-content .timothy-intro-wrap .vision-list li span {
  display: block;
  color: var(--gray-dark1);
  font-size: var(--font-size-large);
  font-weight: var(--bold);
  margin-bottom: 1rem;
}

.page-content .timothy-intro-wrap .ministry-list {
  display: flex;
  justify-content: space-between;
}

.page-content .timothy-intro-wrap .ministry-list li {
  width: calc((100% - 6rem) / 5);
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid var(--gray-neutral3);
  text-align: center;
  font-size: var(--font-size-normal);
}

.page-content .timothy-intro-wrap .ministry-list li .icon {
  width: 8rem;
  margin-bottom: 1.5rem;
}

.page-content .timothy-intro-wrap .tabs {
  padding: 3rem 6rem;
  box-sizing: border-box;
  border: 1px solid var(--gray-neutral3);
  margin-top: 3.5rem;
}

.page-content .timothy-intro-wrap .tabs input[type=radio] {
  display: none; 
}

.page-content .timothy-intro-wrap .tabs label {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  background: var(--gray-neutral3);
  color: var(--gray-dark1);
  padding: 0.9rem 1.8rem;
  border-radius: 0.3rem;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: all .35s;
  font-size: var(--font-size-normal);
}

.page-content .timothy-intro-wrap .tabs label:not(:last-child) {
  margin-right: 1.2rem;
}

.page-content .timothy-intro-wrap .tabs label::before {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: -20%;
  right: -20%;
  transform: rotate(45deg) scale(1.5);
  background: var(--primary);
  opacity: 0;
  z-index: 1;
  transition: all .35s;
}

.page-content .timothy-intro-wrap .tabs label:hover {
  color:#ffffff;
}

.page-content .timothy-intro-wrap .tabs label:hover::before {
  top: -110%;
  bottom: -110%;
  opacity: 1;
  z-index: -1;
}

.page-content .timothy-intro-wrap .tabs input[type=radio]:checked + label {
  background: var(--primary);
  color: #FFFFFF;
}

.page-content .timothy-intro-wrap .tabs input[type=radio]:checked + label:hover::before {
  opacity: 0;
}

.page-content .timothy-intro-wrap .tab-content {
  position: absolute;
  top: -9999px;
}

.page-content .timothy-intro-wrap .tabs #history1:checked ~ .tab-content-wrapper #history-content-1,
.page-content .timothy-intro-wrap .tabs #history2:checked ~ .tab-content-wrapper #history-content-2, 
.page-content .timothy-intro-wrap .tabs #history3:checked ~ .tab-content-wrapper #history-content-3, 
.page-content .timothy-intro-wrap .tabs #history4:checked ~ .tab-content-wrapper #history-content-4 {
  position: relative;
  top: 0px;
}

.page-content .timothy-intro-wrap .timeline-wrap {
  margin-top: 5rem;
}

.page-content .timothy-intro-wrap .timeline-wrap::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 12.6rem;
  top: 0;
  background: var(--gray-neutral3);
  z-index: -1;
}

.page-content .timothy-intro-wrap .timeline-wrap .timeline-box {
  display: flex;
  padding-bottom: 5rem;
}

.page-content .timothy-intro-wrap .timeline-wrap .big-title {
  width: 13.5rem;
  height: fit-content;
  color: var(--primary);
  font-size: var(--font-size-xxl);
  font-weight: var(--bold);
  letter-spacing: -0.25rem;
  background: url(../../images/icon_title1.png) no-repeat right center;
  background-size: 1.7rem 1.7rem;
  padding-right: 2rem;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: -0.7rem;
}

.page-content .timothy-intro-wrap .timeline-wrap .list {
  padding-left: 8rem;
}

.page-content .timothy-intro-wrap .timeline-wrap .list > li {
  color: var(--gray-dark3);
  display: flex;
}

.page-content .timothy-intro-wrap .timeline-wrap .list > li + li {
  margin-top: 1.4rem;
}

.page-content .timothy-intro-wrap .timeline-wrap .list > li span {
  color: var(--gray-dark1);
  font-weight: var(--bold);
  margin-right: 2rem;
  flex-shrink: 0;
}

.page-content .timothy-intro-wrap .tabs #people1:checked ~ .tab-content-wrapper #people-content-1,
.page-content .timothy-intro-wrap .tabs #people2:checked ~ .tab-content-wrapper #people-content-2, 
.page-content .timothy-intro-wrap .tabs #people3:checked ~ .tab-content-wrapper #people-content-3, 
.page-content .timothy-intro-wrap .tabs #people4:checked ~ .tab-content-wrapper #people-content-4, 
.page-content .timothy-intro-wrap .tabs #people5:checked ~ .tab-content-wrapper #people-content-5 {
  position: relative;
  top: 0px;
}

/* IN0301 기관소개 - 후원안내 */
.page-content .support {
  font-size: var(--font-size-basic);
  line-height: 2.4rem;
}

.page-content .support > div + div {
  margin-top: 6rem;
}

.page-content .support .main-sec .txt-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-content .support .main-sec .img {
  width: 34%;
  height: fit-content;
  flex-shrink: 0;
  margin-right: 3rem;
}

.page-content .support .main-sec .title {
  font-size: var(--font-size-xxl);
  font-weight: var(--bold);
  text-align: center;
  line-height: 3.2rem;
}

.page-content .support .main-sec .sub-title {
  font-size: var(--font-size-large);
  color: var(--primary);
  text-align: center;
  margin-top: 1rem;
  line-height: 2.8rem;
}

.page-content .support .main-sec .txt-box .word-all {
  color: var(--gray-dark2);
  margin-top: 3.5rem;
}

.page-content .support .main-sec .participation {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.page-content .support .main-sec .participation li {
  width: calc((100% - 2rem) / 2);
  background: var(--gray-neutral2);
  padding: 3rem;
  box-sizing: border-box;
  text-align: center;
}

.page-content .support .main-sec .participation .tit {
  font-size: var(--font-size-large);
  font-weight: var(--bold);
  margin-bottom: 1rem;
}

.page-content .support .main-sec .participation .con {
  color: var(--gray-dark2);
}

.page-content .support .support-details .list {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.page-content .support .support-details .list li {
  width: calc((100% - 12rem) / 5);
  text-align: center;
  border: 1px solid var(--gray-neutral3);
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-dark2);
}

/******************** 미디어쿼리 ********************/
@media (max-width: 767px) {
  /* IN0101 기관소개 - 다모데성경연구원 */
  .page-content .timothy-intro-wrap .found .txt-box {
    flex-direction: column;
    align-items: center;
  }

  .page-content .timothy-intro-wrap .found .img {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }

  .page-content .timothy-intro-wrap .vision-list {
    flex-direction: column;
  }

  .page-content .timothy-intro-wrap .vision-list li {
    width: 100%;
  }

  .page-content .timothy-intro-wrap .vision-list li + li {
    margin-top: 1.5rem;
  }

  .page-content .timothy-intro-wrap .ministry-list {
    flex-direction: column;
  }

  .page-content .timothy-intro-wrap .ministry-list li {
    width: 100%;
  }

  .page-content .timothy-intro-wrap .ministry-list li + li {
    margin-top: 1.5rem;
  }

  .page-content .timothy-intro-wrap .tabs {
    padding: 0;
    border: 0;
  }

  .page-content .timothy-intro-wrap .timeline-wrap::before {
    left: 9rem;
  }

  .page-content .timothy-intro-wrap .timeline-wrap .big-title {
    width: 10rem;
  }

  .page-content .timothy-intro-wrap .timeline-wrap .list {
    padding-left: 4rem;
  }

  /* IN0301 기관소개 - 후원안내 */
  .page-content .support .main-sec .txt-box {
    flex-direction: column;
    align-items: center;
  }

  .page-content .support .main-sec .img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .page-content .support .main-sec .participation {
    flex-direction: column;
    align-items: center;
  }

  .page-content .support .main-sec .participation li {
    width: 100%;
  }

  .page-content .support .main-sec .participation li + li {
    margin-top: 1.5rem;
  }

  .page-content .support .support-details .list {
    flex-direction: column;
    align-items: center;    
  }

  .page-content .support .support-details .list li {
    width: 100%;
    padding: 2rem 1rem;
  }

  .page-content .support .support-details .list li + li {
    margin-top: 1.5rem;
  }
}
