/* ST0101 회원가입 - 이용약관 */
.page-content .agree-wrapper {
  border: 1px solid var(--gray-mid2);
  padding: 4rem 0 2rem;
}

.page-content .agree-wrapper .agree-content {
  width: 90%;
  margin: 0 auto;
}

.page-content .agree-wrapper .agree-content > div:not(:last-child) {
  margin-bottom: 2rem;
}

.page-content .agree-wrapper .agree-content .title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-content .agree-wrapper .agree-content .title01 {
  font-size: var(--font-size-large);
  font-weight: var(--bold);
  margin-bottom: 0.4rem;
}

.page-content .agree-wrapper .agree-content .title02 {
  font-size: var(--font-size-normal);
  font-weight: var(--bold);
  margin-bottom: 0.4rem;
}

.page-content .agree-wrapper .agree-content .bdr-box {
  font-size: var(--font-size-normal);
}

.page-content .agree-wrapper .agree-content .bdr-box.scroll-box {
  height: 20rem;
}

/* ST0102 회원가입 - 정보입력 */
.page-content .write-wrapper.join-info {
  border: 1px solid var(--gray-mid2);
}

.page-content .write-wrapper.join-info .define-list {
  border-top: 0;
} 

.page-content .write-wrapper.join-info .center-btns {
  padding: 2rem 0;
}

.page-content .write-wrapper.join-info .button.gray-radius {
  flex-shrink: 0;
}

/* ST0201 로그인 */
.page-content .login-wrapper {
  max-width: 84rem;
  border: 1px solid var(--gray-mid2);
  margin: 0 auto;
  padding-top: 4rem;
  box-sizing: border-box;
  margin-top: 12rem;
  margin-bottom: 7rem;
}

.page-content .login-wrapper .login-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1.5rem;
}

.page-content .login-wrapper .login-content .check-wrapper {
  justify-content: flex-end;
  margin-bottom: 0.7rem;
}

.page-content .login-wrapper .login-content dl {
  display: flex;
  align-items: center;
}

.page-content .login-wrapper .login-content dl + dl {
  margin-top: 1.5rem;
}

.page-content .login-wrapper .login-content dl > dt {
  width: 7rem;
  color: var(--gray-dark2);
  font-weight: var(--bold);
}

.page-content .login-wrapper .login-content input.custom {
  height: 3.4rem;
  width: 25rem;
}

.page-content .login-wrapper .login-content .btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.5rem;
  height: 8.3rem;
  font-size: var(--font-size-basic);
  font-weight: var(--bold);
  background: var(--gray-dark1);
  color: #fff;
  border-radius: 0.3rem;
}

.page-content .login-wrapper .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background: var(--gray-neutral1);
  border-top: 1px solid var(--gray-mid2);
  padding: 2.5rem 0;
  box-sizing: border-box;
  margin-top: 4rem;
}

.page-content .login-wrapper .btn-wrap > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.5rem;
  height: 5rem;
  background: #fff;
  border: 1px solid var(--gray-neutral3);
  border-radius: 0.3rem;
  font-size: var(--font-size-basic);
  font-weight: var(--bold);
  color: var(--gray-dark2);
  box-sizing: border-box;
}

/* ST0202 로그인 - 아이디/비밀번호 찾기 */
.page-content .write-wrapper.find {
  max-width: 84rem;
  border: 1px solid var(--gray-mid2);
  margin: 0 auto;
  padding: 7rem;
  box-sizing: border-box;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.page-content .write-wrapper.find > div + div {
  margin-top: 4rem;
}

.page-content .write-wrapper.find .title {
  font-size: var(--font-size-basic);
  font-weight: var(--bold);
  color: var(--gray-dark1);
  margin-bottom: 0.7rem;
}

.page-content .write-wrapper.find .btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}


/******************** 미디어쿼리 ********************/
@media (max-width: 767px) {
  /* ST0101 회원가입 - 이용약관 */
  .page-content .agree-wrapper .agree-content .agree-box .check-wrapper {
    align-items: flex-start;
  }

  .page-content .agree-wrapper .agree-content .agree-box .check-wrapper > label {
    line-height: 1.8rem;
  }

  /* ST0201 로그인 */
  .page-content .login-wrapper {
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .page-content .login-wrapper .login-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .page-content .login-wrapper .login-content dl {
    display: block;
  }

  .page-content .login-wrapper .login-content dl > dt {
    margin-bottom: 0.2rem;
  }

  .page-content .login-wrapper .login-content .btn-login {
    width: 25rem;
    height: 4rem;
  }

  .page-content .login-wrapper .btn-wrap {
    flex-direction: column;
    padding: 2rem 0;
    margin-top: 3rem;
  }

  .page-content .login-wrapper .btn-wrap > * {
    width: 25rem;
    height: 4rem;
  }

  /* ST0202 로그인 - 아이디/비밀번호 찾기 */
  .page-content .write-wrapper.find {
    border: 0;
    padding: 0;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .page-content .write-wrapper.find input.custom {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* ST0102 회원가입 - 정보입력 */
  .page-content .write-wrapper.join-info .input-box input.custom {
    width: 100%;
  }
}
