/* MY0101 회원정보 - 수강내역/파일다운로드 */
.page-content .board-wrapper.course+.board-wrapper.course {
  margin-top: 4rem;
}

.page-content .board-wrapper.course h4 {
  font-size: var(--font-size-normal);
  font-weight: var(--bold);
  color: var(--gray-dark2);
}

.page-content .board-wrapper.course h4+.board-list {
  margin-top: 1rem;
}

.page-content .board-wrapper.course .board-list table tr>td:not(:nth-child(2)) {
  text-align: center;
}

/* MY0201 회원정보 - 주문/배송조회 */
.page-content .board-wrapper.order table tr {
  cursor: pointer;
}

.page-content .board-wrapper.order table th:nth-child(1),
.page-content .board-wrapper.order table td:nth-child(1) {
  max-width: 12rem;
}

.page-content .board-wrapper.order table th:nth-child(2),
.page-content .board-wrapper.order table td:nth-child(2) {
  white-space: normal;
}

.page-content .board-wrapper.order table td:nth-child(1) .order-number {
  margin-top: .5rem;
  white-space: normal;
}

.page-content .board-wrapper.order table td {
  text-align: center;
}

.page-content .board-wrapper.order table td>span {
  display: block;
}

.page-content .board-wrapper.order table td .product {
  text-align: left;
  display: flex;
  border: 1px solid var(--gray-neutral4);
  padding: .5rem;
}

.page-content .board-wrapper.order table td .product .order-image {
  font-size: 0;
  border: 1px solid var(--gray-neutral5);
  display: flex;
  align-items: center;
}

.page-content .board-wrapper.order table td .product .order-image>img {
  width: 10.8rem;
  height: auto;
}

.page-content .board-wrapper.order table td .product .order-text {
  padding: 1rem;
}

.page-content .board-wrapper.order table td .product .order-text>dt {
  font-weight: var(--bold);
}

.page-content .board-wrapper.order table td .product .order-text>dt+dd {
  margin-top: .5rem;
}


/* MY0302 회원정보 - 비밀번호 수정 */
.page-content .write-wrapper.modify-password {
  max-width: 84rem;
  border: 1px solid var(--gray-mid2);
  margin: 0 auto;
  padding: 7rem;
  box-sizing: border-box;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.page-content .write-wrapper.modify-password .title {
  font-size: var(--font-size-basic);
  font-weight: var(--bold);
  color: var(--gray-dark1);
  margin-bottom: 0.7rem;
}

.page-content .write-wrapper.modify-password .btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}


/******************** 미디어쿼리 ********************/

@media (max-width: 1278px) {

  /* MY0201 회원정보 - 주문/배송조회 */
  .page-content .board-wrapper.order table th:nth-child(1),
  .page-content .board-wrapper.order table td:nth-child(1) {
    display: none;
  }
}

@media (max-width: 767px) {

  /* MY0201 회원정보 - 주문/배송조회 */
  .page-content .board-wrapper.order table th:nth-child(2),
  .page-content .board-wrapper.order table td:nth-child(2) {
    width: 80%;
    white-space: normal;
  }

  .page-content .board-wrapper.order table td .product .order-image>img {
    width: 8rem;
  }

  .page-content .board-wrapper.order table td .product .order-text>dt+dd {
    display: none;
  }


  .page-content .board-wrapper.order table th:nth-child(3),
  .page-content .board-wrapper.order table td:nth-child(3) {
    display: none;
  }

  /* MY0302 회원정보 - 비밀번호 수정 */
  .page-content .write-wrapper.modify-password {
    border: 0;
    padding: 0;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .page-content .write-wrapper.modify-password input.custom {
    width: 100%;
  }
}