.page-content .tab-list.radius {
    justify-content: center;
}

.page-content .board-wrapper.shop {
    margin-top: 3rem;
}

.page-content .board-wrapper.shop+.page-content .board-wrapper.shop {
    margin-top: 7rem;
}

.page-content .board-wrapper.shop .product-list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.page-content .board-wrapper.shop .product-list>li {
    width: calc(25% - 1rem);
    border: 1px solid var(--gray-neutral3)
}

.page-content .board-wrapper.shop .product-list>li>a {
    display: block;
    width: 100%;
    height: 100%;
}

.page-content .board-wrapper.shop .product-list>li>a .product-image {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 62.3%;
    box-sizing: border-box;
    overflow: hidden;
}

.page-content .board-wrapper.shop .product-list>li>a .product-image>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-content .board-wrapper.shop .product-list>li>a .product-text {
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.page-content .board-wrapper.shop .product-list>li>a .product-text>dt {
    color: var(--gray-dark2);
    font-size: var(--font-size-basic);
    font-weight: var(--bold);
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.page-content .board-wrapper.shop .product-list>li>a .product-text>dd {
    color: var(--gray-mid1);
    font-weight: var(--bold);
    margin-top: 1rem;
}

.page-content .detail-wrapper .detail-item {
    display: flex;
    gap: 3rem;
}

.page-content .detail-wrapper .detail-item .item-image {
    display: block;
    width: 38%;
    font-size: 0;
}

.page-content .detail-wrapper .detail-item .item-image img {
    border: 1px solid var(--gray-neutral1);
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.page-content .detail-wrapper .detail-item .item-text {
    width: 62%;
}

.page-content .detail-wrapper .detail-item .item-text .item-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--gray-neutral3);
}

.page-content .detail-wrapper .detail-item .item-text .item-title>dt {
    font-size: var(--font-size-normal);
    font-weight: var(--bold);
}

.page-content .detail-wrapper .detail-item .item-text .item-title>dd {
    margin-top: 1rem;
    line-height: 2.3rem;
}

.page-content .detail-wrapper .detail-item .item-text .item-info {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--gray-neutral3);
}

.page-content .detail-wrapper .detail-item .item-text .item-info dl {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    color: var(--gray-dark2);
}

.page-content .detail-wrapper .detail-item .item-text .item-info dl>dt {
    width: 10rem;
    flex-shrink: 0;
    font-weight: var(--bold);
}

.page-content .detail-wrapper .detail-item .item-text .item-info dl>dd {
    width: 100%;
}

.page-content .detail-wrapper .detail-item .item-text .item-info dl>dd select {
    display: block;
    width: 100%;
}

/* SH0202 위시리스트 */
.page-content .board-wrapper.wishlist .board-filter {
    border-bottom: 0;
}

.page-content .board-wrapper.wishlist .board-paging {
    border-top: 0;
}

/* SH0301 결제 - 주문/결제 */
.page-content.orderpay .write-wrapper > div {
    margin-top: 2.5rem;
}

.page-content.orderpay .write-wrapper .define-list {
    width: 100%;
    height: fit-content;
    margin-top: 0.3rem;
}

.page-content.orderpay .write-wrapper .define-list > li dl > dt {
    width: 11rem;
}

.write-wrapper .point {
    display: flex;
    gap: 0.5rem;
}

.write-wrapper .point .input-box input.custom {
    width: 8rem;
    text-align: right;
}

.page-content.orderpay .write-wrapper > div.pay-info .box {
    display: flex;
    justify-content: space-between;
}

.page-content.orderpay .billing-pay {
    width: 34%;
    border: 2px solid var(--gray-neutral4);
    padding: 1.2rem 1.4rem;
    box-sizing: border-box;
    margin-left: 2rem;
    flex-shrink: 0;
    margin-top: 0.2rem;
}

.page-content.orderpay .billing-pay ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-neutral3);
    padding: 0.7rem 0.5rem;
    box-sizing: border-box;
}

.page-content.orderpay .billing-pay ul li:nth-child(1),
.page-content.orderpay .billing-pay ul li:nth-child(2) {
    border-style: dashed;
}

.page-content.orderpay .billing-pay ul li .total {
    color: var(--red);
    font-weight: var(--bold);
    font-size: var(--font-size-basic);
}

.page-content.orderpay .billing-pay .check-wrapper.all-check {
    align-items: flex-start;
    padding: 1rem 0 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px dashed var(--gray-neutral3);
}

.page-content.orderpay .billing-pay .check-wrapper.all-check > input {
    margin-top: 0.2rem;
}

.page-content.orderpay .billing-pay .check-wrapper.all-check > label {
    color: var(--gray-dark3);
    line-height: 1.8rem;
    letter-spacing: -0.1rem;
    word-break: break-all;
}

.page-content.orderpay .billing-pay .terms {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xs);
    color: var(--gray-dark3);
    letter-spacing: -0.1rem;
    margin-top: 0.7rem;
    padding-left: 0.6rem;
}

.page-content.orderpay .billing-pay .pay-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    background-color: var(--red);
    color: #fff;
    font-weight: var(--bold);
    font-size: var(--font-size-basic);
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.page-content.orderpay .check-wrapper:has(#order-info:not(:checked)) ~ .order-info-list {
    display: none;
}

/* SH0302 결제 - 주문완료 */
.page-content.order-result .word-wrapper > div + div {
    margin-top: 4.5rem;
}

.page-content.order-result .order-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.page-content.order-result .order-item {
    display: flex;
    border: 1px solid var(--gray-neutral4);
    padding: 1rem;
    box-sizing: border-box;
    color: var(--gray-dark3);
    margin: 1rem 0;
}

.page-content.order-result .order-item .item-image {
    display: block;
    width: 11rem;
    border: 1px solid var(--gray-neutral4);
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 1rem;
}

.page-content.order-result .order-item .item-image img {
    width: 100%;
}

.page-content.order-result .order-item .product-title {
    display: block;
    font-weight: var(--bold);
    margin-bottom: 0.8rem;
}

.page-content.order-result .order-item .item-price {
    font-size: var(--font-size-xs);
    margin-top: 0.3rem;
}


@media (max-width: 1199px) {
    .page-content .board-wrapper.shop .product-list>li {
        width: calc(33.33% - 1rem);
    }
}

@media (max-width: 767px) {
    .page-content .board-wrapper.shop .product-list>li {
        width: calc(50% - 1rem);
    }

    .page-content .detail-wrapper .detail-item {
        display: block;
    }

    .page-content .detail-wrapper .detail-item .item-image {
        width: 100%;
    }

    .page-content .detail-wrapper .detail-item .item-image img {
        height: 100%;
    }

    .page-content .detail-wrapper .detail-item .item-text {
        width: 100%;
        margin-top: 2rem;
    }

    /* SH0201 장바구니 */
    .page-content.cart .order-wrapper .order-list th:not(:nth-child(1), :nth-child(2)),
    .page-content.cart .order-wrapper .order-list td:not(:nth-child(1), :nth-child(2)) {
        display: none;
    }

    /* SH0202 위시리스트 */
    .page-content .board-wrapper.wishlist .order-wrapper .order-list th:nth-child(2),
    .page-content .board-wrapper.wishlist .order-wrapper .order-list td:nth-child(2) {
        display: none;
    }

    /* SH0301 결제 - 주문/결제 */
    .page-content.orderpay .order-wrapper .order-list th:not(:first-child),
    .page-content.orderpay .order-wrapper .order-list td:not(:first-child) {
        display: none;
    }

    .write-wrapper .point {
        flex-direction: column;
    }

    .page-content.orderpay .write-wrapper > div.pay-info .box {
        flex-direction: column;
    }

    .page-content.orderpay .billing-pay {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
    
    /* SH0302 결제 - 주문완료 */
    .page-content.order-result .order-item .description {
        display: none;
    }

}

@media (max-width: 480px) {
    .page-content .board-wrapper.shop .product-list>li {
        width: 100%;
    }

    
}