.page-content .board-wrapper .board-list tr {
    cursor: pointer;
}

.board-wrapper .board-list td:not(:nth-child(2)) {
    text-align: center;
}

.page-content .board-wrapper .board-list th:nth-child(2),
.page-content .board-wrapper .board-list td:nth-child(2) {
    min-width: 30rem;
    white-space: normal;
}

.page-content .board-wrapper .board-list tr.notice td:nth-child(1),
.page-content .board-wrapper .board-list tr.notice td:nth-child(2) {
    font-weight: var(--bold);
}

.page-content .board-wrapper .board-list.option-status tr td:last-child {
    min-width: 6rem;
}

.page-content .board-wrapper .board-list.option-status tr td:last-child:after {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 2.5rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: var(--font-size-xs);
    font-weight: var(--bold);
    color: #fff;
    border-radius: 0.5rem;
}

.page-content .board-wrapper .board-list.option-status tr.success td:last-child:after {
    content: '답변완료';
    background-color: var(--red);
}

.page-content .board-wrapper .board-list.option-status tr.hold td:last-child:after {
    content: '답변대기';
    background-color: #999;
}

.page-content .board-wrapper .faq-list {
    padding-bottom: 1rem;
    margin-top: 1.5rem;
}

.page-content .board-wrapper .faq-list>li+li {
    margin-top: 1rem;
}

.page-content .board-wrapper .faq-list>li dl>dt>button::before,
.page-content .board-wrapper .faq-list>li dl>dd::before {
    position: absolute;
    font-size: var(--font-size-basic);
    font-weight: var(--bold);
    left: 2rem;
}

.page-content .board-wrapper .faq-list>li dl>dd::before {
    top: 2rem;
    content: 'A';
    color: #7da4bf;
}

.page-content .board-wrapper .faq-list>li dl>dt {
    border: 1px solid var(--gray-neutral3);
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.page-content .board-wrapper .faq-list>li dl>dt>button {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fbfbfb;
    padding: 1rem 2rem 1rem 4rem;
    font-weight: var(--bold);
    color: var(--gray-dark2);
    text-align: left;
}

.page-content .board-wrapper .faq-list>li dl>dt>button::before {
    top: 0.9rem;
    content: 'Q';
    color: #586e96;
}

.page-content .board-wrapper .faq-list>li dl>dd {
    position: relative;
    display: none;
}

.page-content .board-wrapper .faq-list>li dl>dd .answer {
    color: var(--gray-dark2);
    padding: 2rem 2rem 2rem 4rem;
    border: 1px solid var(--gray-neutral3);
}



@media (max-width: 767px) {

    .page-content .board-wrapper .board-list th:not(:nth-child(2)):not(:nth-child(3)),
    .page-content .board-wrapper .board-list td:not(:nth-child(2)):not(:nth-child(3)) {
        display: none;
    }

    .page-content .board-wrapper .board-list th:nth-child(2),
    .page-content .board-wrapper .board-list td:nth-child(2) {
        min-width: auto;
    }

    .page-content .board-wrapper .board-list.option-status tr td:nth-child(2):after {
        display: inline-block;
        padding: 0 0.5rem;
        height: 2rem;
        line-height: 2.1rem;
        text-align: center;
        font-size: 10px;
        font-weight: var(--bold);
        color: #fff;
        border-radius: 0.5rem;
        margin-left: 0.5rem;
        vertical-align: middle;
    }

    .page-content .board-wrapper .board-list.option-status tr.success td:nth-child(2):after {
        content: '답변완료';
        background-color: var(--red);
    }

    .page-content .board-wrapper .board-list.option-status tr.hold td:nth-child(2):after {
        content: '답변대기';
        background-color: #999;
    }
}